img {
  display: block;
  width: 100%;
}

body {
  min-height: 100svh;
  min-height: 100vh;
  width: 1200px;
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 0;
  outline: 2px solid #30a276;;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background-color: #d4f5ff;
}

picture {

  width: 200px;
  padding: 30px;
}


.header{
  display: flex;
  background-color: #30a276;;
  color: rgb(255, 255, 255);
}


h2{
  color: #0c0e0d;;
  font-size: xx-large;
}

#cabecero {
  
  width: 100%;
}

#cabecero h1 {
  
  height: 50%;
  margin: 0;
  padding: 0 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

#cabecero p {
  
  height: 50%;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  display: grid;
  place-content: center;
  font-size: 30px;
}

nav ul {
  display: flex;
  gap: 200px;
  list-style: none;
  background-color: #66ddaa;;
  margin: 0;
  padding-block: 12px;
  
  justify-content: center;
}



nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  
  
}

a:hover {
  color: #ffa1f5;
}

#caja {
  display: grid;
  grid-template-columns: 80% auto;
  padding: 15px;
  gap: 10px;
  color: rgb(0, 0, 0);
}
main{
  background-color: #d4f5ff;
  margin-block: 0;
}

#span {
  grid-column: span 2;
}


aside div {
  display: grid;
  gap: 20px;
}

aside div img {
  margin: 0 auto;
  width: 50px;
  border-radius: 50%;
}


aside {
  text-align: center;
}

#caja>* {
  border: 2px solid #30a276;
  padding: 15px;
}

#caja p, #caja ul{
  font-size: x-large;
}

footer {
  border-top: 2px solid #30a276;
  background-color: #30a276;

  color: rgb(0, 0, 0);
  display: grid;
  place-content: center;
  position: relative;
  margin-top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}

/* Form */

form {
  width: 400px;
  margin: 20px;
  margin-inline: auto;
  padding: 10px;
  border-radius: .5em;
  margin-block: 0;  
  padding-block: 4em;

}

input,
textarea {
  display: block;
  border: none;
  background-color: #fffffffa;
  padding: .75em .5em;
  border-radius: .5em;
  width: 100%;
  margin-bottom: 1.2em;
  font-family: inherit;
  box-sizing: border-box;

}

textarea {
  resize: vertical;
  max-height: 300px;
  font-size: 14px;
}

input:is(:focus-visible),
textarea:is(:focus-visible),
.button:focus-visible {
  outline: 1px solid #30a276;;
}

.button {
  border: 0;
  padding: 1em;
  font-family: inherit;
  border-radius: .5em;
  width: 100%;
  cursor: pointer;
  background-color: #30a276;;
  transition: background-color .2s;
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
}

aside h2{
  margin-top: 0;
}

.button:hover {
  background-color: #0a0a0a;
  color: #ffffff;
}

.alfabeto{
  overflow-wrap: break-word;
}

.botones button{
  margin-bottom: 10px;
}

#cifrado-cesar{
  text-align: center;
}

.proyecto-vida{
  display: flex;
  gap: 50px;
}

.proyecto-vida img{
  border-radius: 5px;
  width: 400px;
}
